/*
 * General Styles
*/


body {
    background: url('../images/space-background.png');
    font-family: 'Open Sans', arial, sans-serif;
  
    /* Full Page Background Receipe */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

h1, h2 {
    font-family: 'Lobster', cursive;
    color: #e22f8f;
    text-align: center;
    margin-bottom: 2rem;
}
p{
    font-size: 15px;
}
/* Intro and contact class*/

div.contact, div.intro{
    padding: 20px 20px 100px 20px;
    
}
/*Container Styles*/
.container {
    width: 600px;
    height: max-content;
    margin: 100px auto;
    background-color: #FFF;
    border-radius: 20px 20px 0 0;
}
/*Hero Image*/
.hero img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.hero{
    line-height: 0;
}

/* aside styles*/
aside.righty{
    float: right;
}
aside.lefty{
    float: left;
    margin-right: 10px;
}
aside{
    margin-right: 30px;
}

